{% extends "oraw_app/base.html" %}
{% block title %}Salasana vaihdettu{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-outline card-success shadow-sm">
        <div class="card-header">
          <h1 class="card-title h5 mb-0">Salasana päivitetty</h1>
        </div>
        <div class="card-body">
          <p>Uusi salasana on tallennettu. Voit nyt kirjautua sisään.</p>
          <p class="mb-0">
            <a class="btn btn-success" href="{% url 'oraw_app:login' %}">
              Kirjaudu sisään
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
