{% load static %}
<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    
    <!-- Icon library (FontAwesome) -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">

    <!-- AdminLTE theme stylesheet -->
    <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">

    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/bootstrap/css/bootstrap.min.css' %}">

    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'adminlte/scss/main.scss' %}">


    {% block extra_css %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Top navigation bar -->
    {% include 'oraw_app/partials/navbar.html' %}

    <!-- Sidebar menu -->
    {% include 'oraw_app/partials/sidebar.html' %}

    <!-- Main content area -->
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% include 'oraw_app/partials/footer.html' %}
</div>

<!-- Required JavaScript libraries -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
